@import "fonts";
@import "variables";

// Sections
@import "./sections/current-weather.scss";
@import "./sections/forecast.scss";
@import "footer";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: clamp(16px, 1.2vw, 32px);
  scroll-behavior: smooth;
}

body {
  background-color: lightgray;
  position: relative;
  font-family: "Montserrat", sans-serif;
  max-width: 100vw;
  min-height: 100vh;
}

main {
  background-color: $cloudy-background-color;
  max-width: 1600px;
  margin: 0 auto;
  letter-spacing: 0.01em;
  padding: 3em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

h1,
h2,
h3 {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1rem;
}
h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 0.25rem;
  line-height: 1em;
  font-weight: 500;
}

ul li {
  list-style: none;
  font-weight: 300;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: $white;
  cursor: pointer;
}

img {
  // width: 100%;
  display: block;
}

@media screen and (max-width: 667px) {
  main {
    padding: 2em;
  }

  h1 {
    font-size: 2.5rem;
  }

  p {
    font-size: 1em;
  }
}
