.background-top {
    background: linear-gradient(217deg, rgb(38, 76, 255,.8), rgb(114, 216, 255) 70.71%),
                linear-gradient(127deg, rgb(114, 216, 255), rgb(38, 76, 255) 70.71%),
                linear-gradient(336deg, rgba(0,0,255,.8), rgb(38, 76, 255) 70.71%);
	background-size: 1000% 1000%;
	animation: gradient 10s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


           