.background-top-gradient, #switchBtn {
    background: linear-gradient(217deg, rgb(128, 185, 197), rgb(224 255 255) 70.71%),
                linear-gradient(127deg, rgb(255 255 191), rgb(128, 185, 197) 70.71%),
                linear-gradient(336deg, rgb(224 255 255), rgb(255 255 191) 70.71%);
	background-size: 1000% 1000%;
	animation: gradient 20s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

