.background-top-gradient, #switchBtn {
    background: linear-gradient(-30deg, #FFAD72, #F76D5E, #D82632, #A50021);
	background-size: 600% 600%;
	animation: gradient 10s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}