.background-top-gradient, #switchBtn {
    background: linear-gradient(217deg, rgb(36, 14, 3,.8), rgb(22, 60, 82) 70.71%),
                linear-gradient(127deg, rgb(22, 60, 82),  rgb(7, 27, 38) 70.71%),
                linear-gradient(336deg, rgb(22, 60, 82,.8),  rgb(7, 27, 38) 70.71%);
	background-size: 1000% 1000%;
	animation: gradient 5s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
