body {
    margin: 0;
    line-height: normal;
    background-color: #f7e9b9;   
  }
  
  :root {
    /* fonts */
    --font-montserrat: Montserrat;
  
    /* font sizes */
    --font-size-2xl: 21px;
  
    /* Colors */
    --color-darkolivegreen: #2a5510;
    --color-dimgray: #707070;
  }
  