body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.header-section {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.header-section:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    background: linear-gradient(45deg, #8AB7F8, #D6E4F9);
    border-radius: 0 0 50% 50%/0 0 50% 50%;
    transform: scalex(1.5);
}
.header-section .content {
    position: relative;
    z-index: 1;
    margin: 0 auto;
    max-width: 900px;
    text-align: center;  
}

.content h1 {
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 24px;
}

.content p {
    color: #fff;
    font-size: 18px;
} 

.main-section {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;    
}

.forecast {
    display: flex;
    justify-content: center;
    align-items: center;    
}

.forecast p {
    text-align: center;
    width: 50%;  
}

@media (min-width: 680px) {
    .main-section {
        display: flex;
        align-items: center;
    }
    .forecast {
        width: 50%;
    }

    .content h1 {
        font-size: 32px;
    }
}

@media (min-width: 992px){
    
}

@media (min-width: 1200px{

}