@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200;9..40,300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,300&family=Rubik:wght@300&display=swap");

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* height: 667px; */
}

.background {
  background-color: rgb(177, 177, 177);
  position: absolute; /* Change to absolute positioning */

  height: 667px;
  width: 375px;
  overflow: hidden;

  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  z-index: -1; /* Move it to a lower layer (behind other content) */
}

.round {
  height: 563px;
  width: 487px;
  background-image: url(design/design1/tree2.png);
  border-radius: 50%;
  position: absolute;
  bottom: 40%;
  right: 50%;
  transform: translate(50%);
  z-index: 0; /* Set a lower z-index so it's behind the content */
}

.container {
  display: flex;
  flex-direction: column;
  width: 375px;
  height: auto;
  position: relative;
}
/* .top-search-container {
  display: flex;
  flex-direction: row;
  padding: 20px;
} */

.weather-container {
  margin: 20px;
}

h1 {
  font-size: 72px;
  color: antiquewhite;
  margin: 10px;
}

h2 {
  font-size: 30px;
  color: antiquewhite;
  margin-bottom: 20px;
}

.current-cloud {
  display: flex;
  align-items: center; /* Vertically center the text and icon */
}

.current-cloud p {
  margin: 0; /* Remove any default margin */
  color: antiquewhite;
}

#current-weather-icon {
  width: 50px; /* Example width */
  height: 50px; /* Example height */
  margin-left: 20px; /* Example margin */
}

/* First weather icon */
.weather-icon {
  display: flex;
  align-items: center; /* Vertically center the icon with text */
}

.weather-icon img {
  width: 100px; /* Set the desired width */
  height: 100px; /* Set the desired height */
  margin-right: 10px;
}

p {
  color: antiquewhite;
}

.sunset-sunrise {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 20px;
}

#sunrise-time {
  color: antiquewhite;
}
#sunset-time {
  color: antiquewhite;
}

/* 5 dayforecast elements */
#weather-forecast {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  align-items: flex-start; /* Align items to the start of each column */
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

.forecast-item {
  display: flex;
  justify-content: space-evenly;
  align-items: center; /* Align items vertically within each row */
  width: 80%;
}

.forecast-item p {
  margin: 0;
  padding: 0 10px; /* Add spacing between elements */
}

.forecast-item img {
  width: 50px; /* Adjust the width as needed */
  height: 50px; /* Adjust the height as needed */
  margin-right: 10px; /* Add spacing between icons and temperatures */
}

.material-symbols-outlined,
.search-icon.class ::before {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.material-symbols-outlined,
.close-icon-class::before {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

@media (min-width: 768px) {
  .container {
    width: 768px;
  }

  .background {
    width: 768px;
    height: 1024px;
  }
  .round {
    height: 770px;
    width: 974px;
    bottom: 40%;
    right: 50%;
  }
  .weather-container {
    margin: 76px;
  }
  h1 {
    font-size: 82px;
  }
  h2 {
    font-size: 40px;
  }
  p {
    font-size: 20px;
  }
}

@media (min-width: 1280px) {
  .container {
    width: 1280px;
  }

  .background {
    width: 1280px;
    height: 1300px;
  }
  .round {
    height: 747px;
    width: 1149px;
    bottom: 40%;
    right: 50%;
  }
  .weather-container {
    margin: 140px;
  }
  h1 {
    font-size: 102px;
    padding-left: 30%;
  }
  h2 {
    font-size: 60px;
  }
  p {
    font-size: 30px;
  }
  #weather-forecast p {
    font-size: 45px;
  }
}

/* @media --------------------- .search-container { display: flex; align-items: center; justify-content: center; } .search-button { font-size: 16px; padding: 10px; border: none; color: #2e4053; background-color: transparent; border-radius: 50%; cursor: pointer; padding: 5px; } .search-button:hover { background-color: transparent; } .search-button:active { background-color: transparent; } .search-icon { color: transparent; } .search-bar { display: none; padding: 1px; border-color: white; font-size: 18px; border: 1px solid #ced4da; width: 200px; height: 25px; transition: width 0.4s; opacity: 30%; } .search-bar:focus { width: 240px; } .search-bar-button { display: none; font-size: 16px; padding: 10px; border: none; color: #2e4053; border-color: white; cursor: pointer; } .button-container { display: flex; justify-content: flex-end; padding-right: 38px; } /* .round-button { display: inline-block; width: 80px; height: 80px; background-color: #5b7754; border-radius: 50%; border: none; cursor: pointer; } .round-button span { color: white; text-align: center; line-height: 70px; font-family: "Rubik", 
  sans-serif; font-size: 40px; } .round-button:hover { background-color: #7b9674; } .round-button span:hover { background-color: #7b9674; } */
