
.weatherApp {
  font-family: 'Montserrat', sans-serif;
  border: double black;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(to top, #2980b9, #6dd5fa, #ffffff);
}

h1 {
  font-size: 100px;
  margin: 0;
  display: flex;
  justify-content: center;
}

h2 {
  margin-bottom: 0;
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

h3 {
  margin-top: 10px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}

h4 {
  margin: 5px;
  display: flex;
  justify-content: center;
}

h5 {
  font-size: 20px;
  display: flex;
  justify-content: left;
  margin-left: 50px;
}

.forecast {
  margin-bottom: 90px;
}


@media screen and (min-width:768px) {

body {
  background-color: #FFE4E1;
}
}