body {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
  padding: 0px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

/*** HEADER ***/
header {
  background-color: #000000;
  height: 50px;
  padding: 0px 5px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a {
  width: 45px;
  padding: 5px;
}

input[Type="text"] {
  padding: 6px;
  font-size: 20px;
  height: 26px;
  width: 175px;
  border: none;
  border-radius: 2px;
}

button {
  padding: 6px;
  background: #ddd;
  font-size: 20px;
  height: 38px;
  width: 30px;
  border: none;
  cursor: pointer;
  transform: rotate(180deg);
  border-radius: 2px;
}

/*** MAIN ***/
main {
  background: rgba(255, 255, 255, 0.65);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}

video {
  top: 60;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*** WEATHER DATA CONTAINER ***/
.weather-data {
  padding: 0px 20px 20px 20px;
  margin-top: 70px;
  margin-left: 20px;
  position: absolute;
  width: 80%;
  top: 0;
  background: rgba(204, 204, 204, 0.8);
  border-radius: 10px;
}

h1 {
  font-size: 2.2em;
}

#city img {
  width: 100%;
  border-radius: 15px;
  margin-top: 30px;
}

.error-message {
  font-size: 30px;
}

.error-message-detail {
  font-size: 15px;
  font-weight: normal;
}

/*** CURRENT WEATHER CONTAINER ***/
.current {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: row;
}

img#icon {
  width: 35%;
}

.summary {
  /* text-align: left;
  margin: 0;
  padding: 0; */
}

.temperature {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 0px;
  margin: 0;
  padding: 0;
}

.sunrise-sunset {
  font-size: 1.2em;
  margin-top: 0px;
  margin-bottom: 50px;
}

/*** NEXT HOURS FORECAST ***/
.main-forecast {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.forecast-info {
  display: flex;
  align-items: center;
}

.detail {
  display: none;
  opacity: 0.6;
  font-size: 12px;
}

.active + .detail {
  display: inline;
}

.rotate {
  transform: rotate(90deg);
}

/*** MEDIA QUERIES***/
@media (min-width: 415px) {
  .weather-data {
    margin: 70px 0px 0px 25px;
  }
}

@media (min-width: 500px) {
  .weather-data {
    margin: 70px 0px 0px 40px;
  }
}

@media (min-width: 650px) {
  .weather-data {
    margin: 70px 0px 0px 55px;
    padding: 0px 20px;
  }

  h1 {
    font-size: 60px;
  }

  .temperature {
    font-size: 150px;
  }

  .summary {
    font-size: 40px;
    flex-basis: 50%;
  }

  .forecast {
    width: 100%;
  }
}

@media (min-width: 900px) {
  #city img {
    width: 50%;
  }

  .weather-data {
    margin-top: 70px;
    margin-left: 10%;
    margin-right: 10%;
  }

  h1 {
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 0px;
  }

  .summary,
  .current img {
    flex-basis: unset;
  }

  .temperature {
    font-size: 60px;
  }

  .current img {
    width: 20%;
  }
}
