@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&family=Roboto:wght@300&display=swap');

/* General styling rules */ 
body {
    background-color: #faf9f9;
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.flex {
    display: flex;
    justify-content: space-evenly;
}

/* Styling for search box container */
.search-box{
    display: flex;
    justify-content: center;
    padding: 1em;
    opacity: 60%;
}

#city-input{ /* search input bar */
    border: none;
    border-radius: 5px;
    padding: 0 1em;

}

button{ /* search button */
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}

/* Styling for app (whole container box) */
#app {
    background-color: #e0e0e0;
    display: block;
    width: 100%;
    margin-bottom: -10px;
}

/* Styling for top container */
#top-container {
    color: white;
    background-color: #9b9b9b;
    padding-bottom: 6em;
    border-radius: 0 0 50% 50%/0 0 17% 17%;
    position: relative;
    z-index: 0;
}

#city-weather-container {
    padding: 2em;
}


/* Styling for text */
p {
    margin: 0.5em 0;
}

h1 {
    font-size: 5em;
    margin: 0;
}

h2 {
    font-size: 2em;
    margin: 0;
}


/* Styling for bottom container */
#bottom-container {
    background-color: #e0e0e0;
}

.forecast-item {
    display: flex;
    justify-content: space-between;
}

#forecast-container {
    background-color: #e0e0e0;
    padding: 3em;
}

/* Styling for footer */
footer {
    color: #9b9b9b;
    background-color: #e0e0e0;
    text-align: center;
    padding: 0 1em 2em 1em;
    margin: 0;
}


/* Styling for background images */
.img-bg {
    filter        : brightness(80%);
    -webkit-filter: brightness(80%);
    -o-filter     : brightness(80%);
    position: absolute;
    z-index: -1;
    border-radius: 0 0 50% 50%/0 0 17% 17%;
    backdrop-filter: blur(1px);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: scale-down;
}

.clear-bg {
    background-image: url("./design/design1/assets/images/clear-bg.jpg");
}

.drizzle-bg {
    background-image: url("./design/design1/assets/images/drizzle-bg.jpg");
}

.rain-bg {
    background-image: url("./design/design1/assets/images/rain-bg.jpg");
}

.snow-bg {
    background-image: url("./design/design1/assets/images/snow-bg.jpg");
}

.thunderstorm-bg {
    background-image: url("./design/design1/assets/images/thunderstorm-bg.jpg");
}

.clouds-bg {
    background-image: url("./design/design1/assets/images/clouds-bg.jpg");
}

@media screen and (min-width: 499px) {
    body {
        margin: 5em 0;
    }

    #app{
        max-width: 400px;
        margin: 0 auto;
        box-shadow: 5px 5px 15px rgb(150, 150, 150);
    }

    footer {
        background-color: #faf9f9;
        margin-top: 3em;
    }
}