*{
    box-sizing: border-box;
}


body{
    
   

font-family: 'Montserrat', sans-serif;


}

.mainContainer{
    margin: 40px 30px 10px 30px;
}

/*Used for general styling of all divs.
*/
.inputstyle{
    border-radius: 5px 5px;
  border: 1px solid grey
  ;
}
.button{
   border-radius: 5px 5px; 
   border: 1px solid grey

}
.weatherToday { 
grid-column: 1/4 ;
    font-size: 16px;
  
    font-weight: 400;
    margin-bottom: 50px;
}

.weatherToday p {
    margin: 4px;
}

.dailyText{ 
  grid-column: 1/4;
    font-size: 30px;
    font-weight: 700;
 
    margin-bottom: 50px;
}


.fiveDays{  

font-weight: 400;
font-size: 16px;

}

.border {
    display: grid;
  grid-template-columns: 1fr 1fr;

    justify-content: space-between;
    border-bottom: 2px dotted gray;
}
.day{
    grid-column: 1/2;



}
.temp{
    grid-column: 2/3;


}




.sunny{
    background-color: #f7e9b9;

    color:  #2a5510;
    
}
.foggy{
  background-color: #d5d9db;
  color: black;
    
}

.rain{
   background-color: #BDE8FA ;
   color: #164a68;
    
}

.cloudy{
background-color: #f4f7f8;
color: #f47876;
    
}

.temperature {
    text-align: right;
}