* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  padding-bottom: 1rem;
}
.weather-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 10px;
  padding: 15px;
  color: white;
  align-items: center;
}

.today {
  padding: 10px;
  padding-top: 50px;
}

.temperature {
  font-size: 5rem;
  padding-top: 15px;
}

.city {
  font-size: 2rem;
  padding: 10px;
}

.weather-description {
  padding: 10px;
}

.sun-container {
  display: flex;
  margin-top: 2rem;
  color: white;
  font-size: 10px;
  justify-content: center;
}
.sunrise-icon {
  height: 70px;
  width: 70px;
}
.sunset-icon {
  height: 70px;
  width: 70px;
}
.sunrise,
.sunset {
  margin-left: 20px;
}

.weather-forecast {
  margin-left: 10px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  font-weight: 100px;
}

.weekly-weather {
  display: flex;
  justify-content: space-evenly;
}
.temperature2 {
  padding: 30px;
}
.temperature-icon {
  padding: 20px;
}
.weekday {
  padding: 30px;
}
@media only screen and (min-width: 1024px) {
  .main-container {
    height: 100%;
    width: 100%;
    padding: 5rem;
    border-radius: 10px;
  }
  .sun-container {
    padding: 5px;
    display: flex;
  }
  .weekly-weather {
    display: flex;
    align-content: center;
    justify-content: flex;
  }
  .weather-forecast {
    font-size: 20pt;
    justify-content: center;
    align-items: center;
  }

  .temperature-icon {
    align-items: center;
  }
}
