* {
    box-sizing: border-box;
}

.menu {
    font-size: 3em;
    margin: 10px 0 0 10px;
    color: rgb(255 255 255 / 0.86);
}

.cool {
    background-image: linear-gradient(to top, #ffffff 0%, #91cdda 100%);
    color: white;
    /* -webkit-animation: AnimationName 18s ease infinite; */
    /* -moz-animation: AnimationName 18s ease infinite; */
    /* animation: AnimationName 18s ease infinite; */
}

.cool>.bottom-flex-wrapper {
    color: #889aa3
}


.medium {
    background-color: #fff;
    background-image: linear-gradient(to top, #ffffff 0%, #087fa5 100%);
    color: white;
    /* -webkit-animation: AnimationName 18s ease infinite; */
    /* -moz-animation: AnimationName 18s ease infinite; */
    /* animation: AnimationName 18s ease infinite; */
}

.warm {
    background: linear-gradient(to top, #fff 0%, #01736d 100%);
    color: white;
}

.cool-night {
    background-image: linear-gradient(to top, #ffffff 0%, #013140 100%);
    color: white;
}

.medium-night {
    background-color: #fff;
    background-image: linear-gradient(to top, #ffffff 0%, #012631 100%);
    color: white;
}

.warm-night {
    background: linear-gradient(to top, #fff 0%, #250002 100%);
    color: white;
}

.small-icon {
    height: 30px;
}

.weather-icon {
    transform: scale(1);
    animation: pulse 2s infinite;
    align-self: flex-end;
    height: 70px;
    margin-right: 25px;
    margin-top: 10px;
}

.icon-sun {
    height: 30px;
    margin: 0 3px;
}

.sun-up {
    transform: rotate(90deg);
    font-size: 1.5em;
    text-align: center;
}

.sun-down {
    transform: rotate(-90deg);
    font-size: 1.5em;
    text-align: center;
}

.sun-set-p,
.sun-rise-p {
    margin-bottom: 0;
}

/*Weather icon classes*/



.my-location-name {
    font-size: 3em;
    margin: 0;

    font-weight: 500;
}

.conditions {
    align-self: baseline;
    margin: 7px 0;
}

.feels-like-temperature {
    display: none;
}

.current-temperature {
    font-size: 5em;
    margin: 0;
    margin-top: 30px;
}

.city-select {
    width: 50px;
    background: transparent;
    color: #333;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
}

.city-select,
.select-option {
    background-color: white;
    font-family: 'Karla', sans-serif;
    padding: 5px;
}

.location-icon {
    width: 25px;
}

.city-label {
    position: relative;
}

.city-select:after {
    content: "";
    position: absolute;
    left: 55px;
    top: 0;
    width: 50px;
    height: 50px;
    background: #e83474;
    /*Other styles*/
}

.top-flex-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.middle-flex-wrapper {
    display: flex;
    align-items: baseline;
}

.bottom-flex-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    font-size: 1.2em;
}

.today {
    margin: 0;
}

.bottom-text-flex-wrapper {
    display: flex;
    flex-direction: column;
}

.sunset-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

.sunrise-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.sun-wrapper {
    display: flex;
    flex-direction: row;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
        /* box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7); */
    }

    70% {
        transform: scale(1);
        /* box-shadow: 0 0 0 10px rgba(0, 0, 0, 0); */
    }

    100% {
        transform: scale(0.95);
        /* box-shadow: 0 0 0 0 rgba(0, 0, 0, 0); */
    }
}


/*All of the grid properties below*/
html,
.grid-container {
    height: 100%;
    margin: 0;
    font-family: 'Karla', sans-serif;
}

.body {
    margin: 0;
    max-height: 90vh;
    font-family: 'Karla', sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 2.5fr) 1.89fr;

    /* grid-template-rows: 60vh repeat(5, minmax(7vh, auto)) minmax(2vh, auto) repeat(3, minmax(13.3vh, auto)); */
    /* grid-template-rows: 60vh repeat(5, minmax(6vh, auto)) minmax(7vh, auto) repeat(3, minmax(13.3vh, auto)); */
    grid-template-rows: 56vh repeat(5, minmax(6vh, auto)) minmax(12vh, auto) repeat(3, minmax(13.3vh, auto));
    /* gap: 4px 4px; */
    grid-template-areas: "mainweather mainweather mainweather"
        "weatherday1 iconday1 tempday1"
        "weatherday2 iconday2 tempday2"
        "weatherday3 iconday3 tempday3"
        "weatherday4 iconday4 tempday4"
        "weatherday5 iconday5 tempday5"
        "weatherday6 iconday6 tempday6"
        "mainweatherCell mainweatherCell mainweatherCell"
        "mainweatherCell mainweatherCell mainweatherCell"
        "mainweatherCell mainweatherCell mainweatherCell"
        ". . .";
}

.mainweatherCell1 {
    grid-area: mainWeatherCell1;
}


.mainweather {
    grid-area: mainweather;
    padding: 0 10px;
    margin: 0;
    /* color: rgb(255 255 255 / 0.86); */
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;

}

.weatherday1 {
    grid-area: weatherday1;
    background-color: transparent;
    align-items: stretch;
}

.weatherday2 {
    grid-area: weatherday2;
    background-color: transparent;
    align-items: stretch;
}

.weatherday3 {
    grid-area: weatherday3;
    background-color: transparent;
    align-items: stretch;
}

.weatherday4 {
    grid-area: weatherday4;
    background-color: transparent;
    align-items: stretch;
}

.weatherday5 {
    grid-area: weatherday5;
    background-color: transparent;
    align-items: stretch;
}

.weatherday6 {
    grid-area: weatherday6;
    background-color: transparent;
    align-items: stretch;
}

.iconday1 {
    grid-area: iconday1;
    background-color: transparent;
    /* justify-self: center; */
    align-items: stretch;
}

.iconday2 {
    grid-area: iconday2;
    background-color: transparent;
    /* justify-self: center; */
    align-items: stretch;
}

.iconday3 {
    grid-area: iconday3;
    background-color: transparent;
    /* justify-self: center; */
    align-items: stretch;
}

.iconday4 {
    grid-area: iconday4;
    background-color: transparent;
    /* justify-self: center; */
    align-items: stretch;
}

.iconday5 {
    grid-area: iconday5;
    background-color: transparent;
    /* justify-self: center; */
    align-items: stretch;
}

.iconday6 {
    grid-area: iconday6;
    background-color: transparent;
    /* justify-self: center; */
    align-items: stretch;
}

.tempday1 {
    grid-area: tempday1;
    background-color: transparent;
    align-items: stretch;
}

.tempday2 {
    grid-area: tempday2;
    background-color: transparent;
    /* align-self: center; */
    align-items: stretch;
}

.tempday3 {
    grid-area: tempday3;
    background-color: transparent;
    align-items: stretch;
}

.tempday4 {
    grid-area: tempday4;
    background-color: transparent;
    align-items: stretch;
}

.tempday5 {
    grid-area: tempday5;
    background-color: transparent;
    align-items: stretch;
}

.tempday6 {
    grid-area: tempday6;
    background-color: transparent;
    align-items: stretch;
}

.feelslikeday1 {
    grid-area: feelslikeday1;
    background-color: transparent;
    align-items: stretch;
    display: none;
}

.feelslikeday2 {
    grid-area: feelslikeday2;
    background-color: transparent;
    align-items: stretch;
    display: none;
}

.feelslikeday3 {
    grid-area: feelslikeday3;
    background-color: transparent;
    align-items: stretch;
    display: none;
}

.feelslikeday4 {
    grid-area: feelslikeday4;
    background-color: transparent;
    align-items: stretch;
    display: none;
}

.feelslikeday5 {
    grid-area: feelslikeday5;
    background-color: transparent;
    align-items: stretch;
    display: none;

}

.hidden {
    display: none;
}

.gridCell {
    padding: 0 25px;
    color: #5e5b5b;
    font-size: 14px;
    background-color: #fff;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #f6f1f1;
}

.mainWeatherCell {
    padding: 0 15px;
    flex-direction: column;
    color: #5e5b5b;
    align-items: flex-start;
    justify-content: space-around;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid #f6f1f1;
}

.mainWeatherCell>p {
    margin: 0;
    font-size: 13px;
}

.emptyCell {
    padding: 0 8px;
    background-color: #fff;
    display: flex;
    align-items: center;
}


.css-selector {
    background: linear-gradient(183deg, #146751, #1b2150);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 18s ease infinite;
    -moz-animation: AnimationName 18s ease infinite;
    animation: AnimationName 18s ease infinite;
}

@-webkit-keyframes AnimationName {
    0% {
        background-position: 0% 9%
    }

    50% {
        background-position: 100% 92%
    }

    100% {
        background-position: 0% 9%
    }
}

@-moz-keyframes AnimationName {
    0% {
        background-position: 0% 9%
    }

    50% {
        background-position: 100% 92%
    }

    100% {
        background-position: 0% 9%
    }
}

@keyframes AnimationName {
    0% {
        background-position: 0% 9%
    }

    50% {
        background-position: 100% 92%
    }

    100% {
        background-position: 0% 9%
    }
}