@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    margin: 0;
}

h1 {
    font-weight:bold;
    font-size: 30px;
}
.header h3 {
    font-weight: 400;
    margin:0 2px;
}
h3 {
    font-weight: 400;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    padding: 10%;

}

img {
    width: 72px;
    padding-top: 40px;
}

  .forecast-section {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px dotted;
    display: flex;
    justify-content: space-between;
}

.container-cloudy{
    background-color: #F4F7F8;
    color: #F47775;
}
.container-rainy{
    background-color: #A3DEF7;
    color: #164A68;
}
.container-clear{
    background-color: #F7E9B9;
    color: #2A5510;
}


@media (min-width: 667px) {
    
    .container{
        font-size: 24px;
        padding: 15%;
        justify-content: space-evenly;
    }

    img {
        width: 152px;
        padding-top: 80px;
    }

    h1 {
        font-weight:bold;
        font-size: 30px;
    }
}
@media (min-width: 1024px) {
    
    .container{
    font-size: 30px;
    justify-content: space-between;
    }
    
    h1 {
        font-weight:bold;
        font-size: 30px;
    }

}