body {
    font-family: 'Open Sans', sans-serif;
    color: rgba(53, 84, 28);
    background-color: rgba(245, 233, 190);
    max-width: 667px;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');