body{
  background-color: #FFF7EE;
}

.main{
 margin: 110px;
}

header{
 border: 3px solid green;
 padding: 20px;
 height: 70px;
}

article{
font-size: 50px;
text-align: center;
color: #FC8B93;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-weight: lighter;
}

h1{
color: #FC8B93;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-weight: lighter;
}

h2 {
color: #FC8B93;
font-size: 25px;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-weight: lighter;
}

.today{
padding: 20px;
text-align: center;
font-size: 30px;
}

.sun{
padding: 20px;
text-align: center;
}

.fivedays{
border: 4px solid pink;
text-align: center;

}


@media (min-width: 667px) and (max-width: 1024px){

}

@media (min-width: 1025px){

}