

body {
    font-family: 'Abel', sans-serif;
    background-image: url("billy.jpg");
    min-height: 1000px;
}
.wrapper {
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.header {
    color: white;
    font-size: larger;
    padding: 10px;
}
.weather-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 20px;
}
.container {
    display: none;
}
.temperature {
    font-size: 100px;
    font-weight: bolder;
}
.sun {
    display: none;
}
.rise, .set {
    margin: 20px;
}
.forecast {
    width: 300px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.4);
}
.forecast-container {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
p {
    font-size: 30px;
    line-height: 30px;
}

@media (min-width: 650px){
    .wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        color: gray;
    }
    .sun {
        display: flex;
        justify-content: center;
        margin-left: 20px;
        max-width: 300px;
    }
    .forecast{
        background-color: rgba(255, 255, 255, 0.4);
        margin-left: 20px;
        max-width: 300px;
    }
    .weather-container {
        background-color: rgba(255, 255, 255, 0.4);
        margin-left: 20px;
        padding: 20px;
        max-width: 300px;
        min-width: 200px;
    }
    .container {
        display: contents;
    }
    .header {
        font-size: 40px;
        padding: 0;
    }
    .sun {
        background-color: rgba(255, 255, 255, 0.3);
    }
} 