* {
  box-sizing: border-box;
}

body {
  background: #fff;
  font-family: 'Hind Guntur', sans-serif;
  margin: 0;
}

a {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  font-size: 10px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* TOP SECTION WITH WEATHER NOW */
.main-top {
  width: 100%;
  text-align: center;
  background-repeat: no-repeat; 
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-today {
  width: 95%;
  margin: 10px 0 10px 0;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.today-first {
 display: flex;
 flex-direction: column;
 font-size: 30px;
}

.today-second {
  font-size: 25px;
  margin: 5px 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* BOTTOM SECTION WITH FORECASTS */
.main-bottom {
  display: flex;
  flex-direction: column;
  width: 95%;
  min-height: 220px;
  background: #fff;
  padding: 10px;
  border-top: 1px solid #D1D9D4;
  border-bottom: 1px solid #D1D9D4;
  font-size: 15px;
}

.forecast-bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.forecast {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10px;
}

.forecast-date, .forecast-time {
  min-width: 45px;
  text-align: left;
}

.forecast-icon, .forecast-temp {
  min-width: 45px;
  text-align: right;
}

/* Accordion for forecast details */
.forecast-details {
  line-height: 0.8;
  font-size: 12px;
  height: 0px; /*For CSS animation*/
  opacity: 0; /*For CSS animation*/
  overflow: hidden; /*For CSS animation*/
  transition: all 0.6s ease-in-out; /*For CSS animation*/
}

.active + .forecast-details {
  opacity: 1;
  height: 100px;
}

/* Adds a + after the div */
.forecast::after {
  content: '+';
} 

/* Changes to a - if class .active is added */
.forecast.active::after {
  content: '-';
}

/* FOOTER */
footer {
  display: flex;
  flex-direction: column;
  padding: 5px 0 20px 0;
  text-align: center;
  font-size: 12px;
  background: #fff;
  height: 100px;
}

/* MEDIA QUERY 450PX */
@media (min-width: 450px) {  
 
  .main-today {
    width: 80%;
  }

  .main-bottom {
    width: 80%;
  }

}

/* MEDIA QUERY 550PX */
@media (min-width: 550px) {  
 
  .main-today {
    width: 70%;
  }

  .main-bottom {
    width: 70%;
  }

}

/* MEDIA QUERY 750PX */
@media (min-width: 750px) {  
 
  .main-today {
    width: 60%;
  }

  .main-bottom {
    width: 60%;
  }

}

/* MEDIA QUERY DESKTOP */
@media (min-width: 900px) {

  .main-today {
    width: 50%;
  }
  
  .main-bottom {
    width: 65%;
    font-size: 18px;
    border-bottom: none;
  }

  .forecast-bottom {
    text-align: center;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .forecast {
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
    border-top: 1px solid #D1D9D4;
    border-bottom: 1px solid #D1D9D4;    
  }

  .forecast-date, .forecast-time, .forecast-icon, .forecast-temp {
    text-align: center;
  }


/* Accordion for forecast details */
.forecast-details {
  text-align: left;
  transition: none;
}

.active + .forecast-details {
  opacity: 1;
  width: 100%;
  align-self: flex-end;
  border-bottom: 1px solid #D1D9D4;
}

/* Adds a + after the div */
.forecast::after {
  margin-top: 30px;
  content: 'Show details';
  font-size: 12px;
  margin-bottom: 30px;
} 

/* Changes to a - if class .active is added */
.forecast.active::after {
  content: 'Details:';
  font-size: 12px;
  font-weight: bold;
}

}