@import url("https://fonts.googleapis.com/css2?family=Almendra&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.hidden {
  display: none;
}

body {
  height: 100vh;
  font-family: "Roboto", sans-serif;
  color: white;
  max-width: 800px;
  margin: 0 auto;
  background-color: #0d3a5f;
}

@keyframes gradient {
  0% {
    background-position: 0% 25%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 25%;
  }
}

.main {
  height: 100vh;
}

/* Navigation */

nav {
  padding-top: 1.5rem;
}

nav ul {
  display: flex;
  margin-left: 40%;
  flex-direction: column;
  width: 60%;
  top: -15px;
  height: 100vh;
  align-items: flex-end;
}

li {
  margin-top: 2rem;
  list-style: none;
  font-size: 2rem;
  padding: 2rem;
  text-shadow: 1px 1px 1px #0d3a5f;
}

li:active {
  text-decoration: underline;
}

li:hover,
li:focus {
  cursor: pointer;
}

#city-list {
  height: 100%;
  background-color: rgba(164, 222, 247, 0.5);
  z-index: 99;
  position: fixed;
  color: #0b181c;
}
#city-list > p {
  display: none;
}

#city-two {
margin-right: 66px;
}

#toggle-nav {
  width: 100px;
  color: #f7f6f6;
  margin: 2rem;
}

#toggle-nav i {
  font-size: 3rem;
}

.sun-times p {
  display: inline-block;
}

/* top */
.top {
  height: 50%;
  margin-bottom: 2rem;
  padding-left: 2rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

#top-right-icon {
  width: 200px;
  padding-right: 2rem;
  animation: pulse 5s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.75);
		
	}

	50% {
		transform: scale(1);
		
	}

	100% {
		transform: scale(0.75);
		
	}
}

#weather-icon-container {
  width: 40%;
}

#weather-data-container {
  width: 40%;
  padding-top: 3rem;
}

#current-temp {
  font-size: 4rem;
  width: 13rem;
}

#feels-like-temp {
  font-size: 1.1em;
  margin-top: 1em;
  margin-bottom: 1em;
}

#current-city {
  font-size: 2rem;
}

#current-weather {
  font-size: 1.5rem;
}

.sun-times {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.sun-times p {
  padding-top: 1rem;
  padding-right: 1rem;
}

.sun-times p:nth-child(3) {
  padding-left: 1rem;
}

/* week list */
#week-list {
  background-color: #84e1f8;
  position: relative;
  color: white;
  max-width: 95%;
  margin: 0 auto;
  border-radius: 20px;
  font-size: 1.2em;
}

#arrow-button {
  padding-top: 1rem;
  width: 75px;
  height: 75px;
  font-size: 3rem;
  text-align: center;
}

#arrow-button:hover,
#arrow-button:focus {
  border-radius: 50%;
  background-color: rgba(170, 169, 169, 0.2);
  cursor: pointer;
}

.rotate {
  transform: rotate(90deg);
  animation: rotation 0.2s 1 linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(90deg);
  }
}

.weekDayRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  text-shadow: 1px 1px 1px #0d3a5f;
}

.weekDayRow p:first-child {
  padding-left: 2rem;
}

.weekDayRow p::nth-child(2) {
  width: 100px;
}

.weekDayRow p:last-child {
  padding-right: 1rem;
  width: 120px;
  text-align: end;
}


ul li {
  display: inline-block;
  max-width: 100%;
}

#week-list-icon {
  max-height: 40px;
  margin-left: auto;
}

/* Changes according to time of day*/

.day {
  height: 100vh;
  background: linear-gradient(-45deg, #94dbf5, #62b7fc, #84e1f8, #e0c454);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

.night {
  height: 100vh;
  background: linear-gradient(-45deg, #4b114b, #0d3a5f, #84e1f8, #0b181c);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

/*
footer {
  background-color: #f7f6f6;
}
*/
@media screen and (min-width: 450px) {
  .sun-times {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  #week-list-icon {
    max-height: 40px;
    margin-left: 7rem;
  }
}

@media screen and (min-width: 640px) {
  #week-list {
    max-width: 75%;
  }

  nav {
  }
  #city-list {
    all: unset;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
  }
  #city-list p {
    font-size: 1.5rem;
    margin-top: 2rem;
  }
  #city-list > p {
    display: block;
    font-family: "Lobster", cursive;
    font-size: 1.8rem;
    margin-top: 1.5rem;
  }

  li {
    padding: 0 2rem;
    margin-top: 0;
  }
  #toggle-nav {
    display: none;
}
#top-right-icon {
  width: 250px;
}
}
