html {
  font-family: 'roboto', sans-serif;
  background-color: white;
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  box-sizing: border-box;
}

#gbg-image {
  background-image: linear-gradient(to bottom, rgba(245, 246, 249, 0.52), rgba(244, 244, 247, 0.73)), url("gbg-img.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.today-container p {
  font-size: 1.5rem;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 3rem;
}

.today-container {
  height: 500px;
  padding: 20px;
  color: black;
}

.forecast {
  height: 600px;
  background-color: rgb(249, 244, 244);
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 16px 5px;
  flex-direction: row;
  justify-content: space-evenly;
}

.forecast p {
  font-size: 1.5rem;
}

#forecast-weekday {
  flex-direction: column;
  display: flex;
  justify-content: space-evenly;
}

#forecast-temp {
  flex-direction: column;
  display: flex;
  justify-content: space-evenly;
}


#forecast-icon {
  flex-direction: column;
  display: flex;
  justify-content: space-evenly;
}

#forecast-description {
  flex-direction: column;
  display: none;
  justify-content: space-evenly;
}

footer {
  height: 100px;
  width: auto;
  text-align: center;
  padding: 40px;
  color: rgb(110, 109, 109);
}


/*MEDIA QUERY TABLET AND BIGGER*/
@media(min-width:667px) {
  #forecast-description {
    display: flex;
  }
}