/* @font-face {
    font-family: myFont;
    src: url(https://fonts.google.com/specimen/Roboto?selection.family=Roboto:wght@300);
  } */

* {
    font-family: "Roboto";
    font-weight: 100;
    font-size: 16px;
    opacity:0.85
}

.current {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
}

.current-temp {
    font-size: 90px;
}

.sun {
    display: flex;
    justify-content: space-between
}

.forecast {
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.day {
    display: flex;
    justify-content:space-between
}

img {
    padding: 0 15px 0 0;
}