/*  resetting all predefined margins/paddings to 0, border-box includes padding+border if sizes are declared for containers */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #D3e6c3;
    color: #6a7d59;
    font-family: 'Montserrat';
    font-size: 20px;
    display: flex;
}

#main-container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

#daily-forecast {
    display: flex;
    flex-direction: column;
    padding: 15px 30px;
}

#weather-symbol {
    padding: 10px 50px;
}

#daily-advice {
    padding: 15px 30px;
    font-size: 35px;
    font-weight: bold;
}

#weekly-forecast {
    padding: 10px 30px;
}

.weekday {
    padding: 3px;
}

.forecast-item {
    border-bottom: dotted #184969 2px;
}

#city-picker {
    padding: 10px 30px;
}

#city-input {
    width: 180px;
    height: 28px;
    font-family: 'Montserrat';
    font-size: 15px;
    border-radius: 3px;
    border: 1px solid #184969;
    padding: 3px;
}

#submit-button {
    width: 65px;
    height: 28px;
    font-family: 'Montserrat';
    font-size: 15px;
    background-color: #184969;
    color: white;
    border-radius: 3px;
    border: 2px solid #184969;
}

footer {
    padding: 10px 30px;
    margin-top: 20px;
}

#test {
    border-bottom: 3px dotted red;
    color: red;
}

/* style for forecast container lines */
.forecast-item {
    display: flex;
    justify-content: space-between;

}

@media screen and (min-width: 668px) and (max-width: 1024px) {
    body {
        justify-content: center;
    }

    #main-container {
        max-width: 70%;
    }
}

@media screen and (min-width: 1025px) {
    body {
        justify-content: center;
    }

    #main-container {
        max-width: 50%;
    }
}