html,
body {
  margin: 0 auto;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 400;
  background-color: #dfd2cb;
  color: #eedcc6;
  display: flex;
  height: 100vh;
}

/*---SPLASH SCREEN---*/

.intro {
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  width: 100%;
  height: auto;
  min-height: 100vh;
  background-color: #dfd2cb;
  transition: 1s;
}

.logo-header {
  position: absolute;
  top: 40%;
  left: 35%;
  transform: translate (-50%, -50%);
  color: #f47775;
}

.logo-icon {
  width: 50px;
  height: 50px;
}

.logo {
  position: relative;
  display: inline-block;
  bottom: -20px;
  opacity: 0;
}

.logo.active {
  bottom: 0;
  opacity: 1;
  transition: ease-in-out 1s;
}

.logo.fade {
  bottom: 150px;
  opacity: 0;
  transition: ease-in-out 0.5s;
}

/* - - - MAIN - - - - - - - - */
.weather-app {
  /* border: 1px solid rgb(59, 59, 255); */
  align-self: center;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: 100vh;
  justify-content: space-between;
  flex-direction: column;
  background-color: #928279; /*-apps color-*/
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0;
  padding-bottom: 0;
  position: relative;
  box-shadow: 1px 2px 21px 2px rgba(102, 102, 102, 0.75);
  -webkit-box-shadow: 1px 2px 21px 2px rgba(102, 102, 102, 0.75);
  -moz-box-shadow: 1px 2px 21px 2px rgba(102, 102, 102, 0.75);
}

/* - - - HEADER WRAPPER - - - - - - - - */

.header-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

/* - - - TODAYS WEATHER - - - - - - - - */

.todays-weather {
  font-size: 16px;
}

.todays-weather-row {
  padding-bottom: 2px;
}

/* - - - HAMBURGER MENU - - - - - - - - */

.hamburger-menu {
  display: flex;
}

/* ---- HAMBURGER MENU TO LINE 106------ */

.burger-btn {
  background: none;
  border: none;
  padding: 10px;
  cursor: pointer;
  align-self: flex-start;
}

.burger {
  width: 38px;
}

/*--Targets the position of the menu--*/

.sideMenu {
  position: absolute;
  background: linear-gradient(180deg, #dfd2cb 0%, #92827900 100%);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  padding: 40px;
  z-index: 10;
  transition: all 1s ease;
  display: none;
  margin-block-start: 0;
  align-items: center;
}

li {
  color: white;
  list-style: none;
  padding: 10px;
}

a:visited,
a:link {
  color: white;
  text-decoration: none;
}

.closeMenu {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
  transition: all 0.5s ease;
  cursor: pointer;
}

.input-location {
  padding: 10px;
  margin-top: 90px;
  border-radius: 0;
  width: 170px;
  border: none;
  text-align-last: center;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  border-radius: 5px;
}

/* -----------TOP INFO --------------*/

/* - - - COZY TEXT - - - - - - - - */

.cozy-text {
  font-weight: 500;
}

.cozy-text-icon {
  width: 80px;
  padding-top: 15px;
}

.cozy-text-paragraph {
  font-size: 43px;
}

/* - - - WEATHER FORECAST - - - - - - - - */

.weather-forecast {
  margin-top: 10px;
  margin-bottom: 20px;
}

.weather-forecast-entry {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  align-items: center;
  padding-top: 2px;
}

.weather-forecast-entry-day {
  width: 23px;
}

.weather-forecast-entry-icon {
  width: 30px;
  height: 30px;
}

.weather-forecast-entry-temperature {
  width: 23px;
}

.weather-test {
  display: none;
}

/* - - - - - - - - - - - - - - - - - - - MEDIA QUERIES - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/* - - - TABLET - - - - - - - - */

@media (min-width: 668px) {
  .logo-header {
    left: 45%;
  }

  .weather-app {
    max-width: 325px;
    height: 600px;
    border-radius: 10px;
  }

  .todays-weather {
    font-size: 16px;
  }

  .todays-weather-row {
    padding-bottom: 5px;
  }

  .input-location {
    padding: 10px;
    margin-top: 45px;
    border-radius: 5px;
    width: 240px;
  }

  .sideMenu {
    background: linear-gradient(180deg, #928279 0%, #92827900 100%);
  }

  .cozy-text-icon {
    font-size: 45px;
  }

  .cozy-text-paragraph {
    font-size: 35px;
  }

  .weather-forecast-entry {
    line-height: 16px;
    font-size: 16px;
    padding-top: 0;
  }

  .sideMenu {
    border-radius: 10px;
  }

  .weather-test {
    display: block;
  }
}
/* - - - DESKTOP - - - - - - - - */

@media (min-width: 1025px) {
  .weather-app {
    max-width: 350px;
  }

  .input-location {
    margin-top: 30px;
    width: 200px;
  }
}

/* WEATHER BASED STYLING CLASSES */

/* clear */

.weather-condition-clear {
  color: #fdff99;
}
.weather-condition-clear .weather-app {
  background: #8aad6f;
}

/* cloudy */

.weather-condition-cloudy {
  color: #c55d75;
}
.weather-condition-cloudy .weather-app {
  background: #b1b1b1;
}

/* rain or drizzle */

.weather-condition-rain {
  color: #164a68;
}
.weather-condition-rain .weather-app {
  background: #a4cbdc;
}

/* thunderstorm */

.weather-condition-thunderstorm {
  color: #daa86d;
}
.weather-condition-thunderstorm .weather-app {
  background: #164a68;
}

/* snow */

.weather-condition-snow {
  color: #85e7f8;
}
.weather-condition-snow .weather-app {
  background: #6396ba;
}

/* mist */

.weather-condition-mist {
  color: #4c4955;
}
.weather-condition-mist .weather-app {
  background: #bdc1c2;
}

/* default aka fallback*/

.weather-condition-default {
  color: #eedcc6;
}
.weather-condition-default .weather-app {
  background: #928279;
}
