body{
    letter-spacing: 0.2em;
    font-family: 'Montserrat';
    font-size: 16px;
    color: #F47775;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 800px;
    margin: 0px;
}

.container{
    display: flex;
    width: 100%;
    height: 400px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#upper-container{
    display: flex;
    background:#eeedec;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

#lower-container{
    display: flex;
    background:#eeedec;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.location-today{
    font-size: x-large;
}

.daily-forecast{
    margin: 5px;
    border-bottom: 1px dotted;
}

#get-city{
    width: 100%;
}

input {
    padding: 7px 32px;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
  }

.button {
    background-color: #F47775; 
    border: none;
    color: white;
    padding: 7px 32px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  /* Make site fullscreen for smaller screens*/

@media only screen and (min-width: 600px) {
    .container {
      width: 400px;
    }
  }