body{
    background:#1b3e59;
    color:white;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin:0;
}
img{
    width: 50px;
    height: 50px;
}
h1{
    font-size: 30px;
}
h4{
    margin:0;
}
#location{
    margin-bottom: 0;
}
#temperature{
    font-weight: normal;
}
.temp-n-icon{
    display: flex;
    align-items: center;
    margin-left: 20px;
}
    .temp-n-icon h2{
        display:inline;
        margin:2px;
        font-size: 30px;
}
#description img{
    display:inline;
    width: 80px;
    height: 80px;
    margin-top: 10px;
}
#today{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin-bottom:15px;
}
#todaysMinMax, #todaysWind{
    margin:2px;
    font-size: 16px;
}
.wind-div{
    display:flex;
}
.wind-icon{
    width: 25px;
    height: 25px;
}
.sunset-sunrise{
    display:flex;
    width: 80%;
    justify-content: space-between;
    margin-top: 20px;
}
.sunset-div, .sunrise-div{
    display:flex;
    flex-direction: column;
}
hr{
    border-top: 1px solid white;
    border-bottom: none;
    width: 60px;
    margin: 0 0 8px 0;
}
.forecast-section {
    padding: 10px;
    text-align: center;
}
    .forecast-section h1{
        margin: 0;
}
.big-line{
    width: 300px;
    align-self: center;
}
.forecast{
    display:flex;
    justify-content: center;
    height: 100%;
}
#forecastDescription{
    margin:5px;
}
ul{
    display:flex;
    flex-direction: column;
    list-style-type: none;
    font-size: 16px;
}
li{
    padding:8px 0;
    height: 40px;
}
#forecastDates{
    text-align: left;
    padding:0;
}
#forecastMinMax{
    text-align: right;
}
.footer{
    margin-top: auto;
}
footer{
    display:flex;
    justify-content: space-around;
    font-size: 12px;
    background: none;
    align-items: center;
    margin: 10px;
    }
    footer img {
      width: 70px;
      border-radius: 0;
      margin: 10px;
    }
    footer a{
      text-decoration: none;
      color:royalblue;
    }

    /***TABLET***/
@media (min-width: 668px) and (max-width: 1024px){
    ul {
        font-size: 22px;
    }
    img{
        width: 80px;
        height: 80px;
    }
    .temp-n-icon h2{
        font-size: 50px;
    }
    #todaysMinMax, #todaysWind{
        font-size: 20px;
    }
    .sunset-sunrise{
        width: 50%;
    }
    h4{
        text-align: center;
    }
    hr{
        width: 150px;
    }
    .big-line{
        width: 600px;
    }
    footer{
        justify-content: center;
    }
    }

/***DESKTOP***/
@media (min-width: 1025px){
    ul {
        font-size: 22px;
    }
    img{
        width: 80px;
        height: 80px;
    }
    .temp-n-icon h2{
        font-size: 50px;
    }
    #todaysMinMax, #todaysWind{
        font-size: 20px;
    }
    .sunset-sunrise{
        width: 30%;
    }
    h4{
        text-align: center;
    }
    hr{
        width: 150px;
    }
    .big-line{
        width: 450px;
    }
    footer{
        justify-content: center;
    }

}