body {
    margin: 0;
    font-family: Montserrat;
}

.main-content {
    width: 300px;
    margin: 40px auto;
}

h1 {
    margin-top: 10px;
}

p {
    margin: 2px;
    font-size: 21px;
}

/* TODAYS WEATHER */
.todays-weather {
    margin-top: 25%;
    font-weight: bold;
    font-size: 25px;
}

.todays-weather-small {
    margin-left: 8px;
}

/* FIVE DAY FORECAST */
.weekdays-container {
    display: flex;
    justify-content: space-between;
    border-bottom: 1.5px dotted;
    padding-bottom: 7px;
    padding-top: 6px;
    font-size: 18px;
}

.five-day-forecast :last-child {
    border-bottom: none;
    /* removes the border at the bottom*/
}

@media (min-width: 668px) {
    .main-content {
        width: 350px;
        margin-top: 70px;
    }

    .weather-image {
        width: 120px;
    }
}