* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif; 
    margin: 0;
    background: lightgoldenrodyellow;
}

h2 {
    font-size: 25px;
    font-weight: 400;
    margin: 0px;
}

h3 {
    font-weight: 400;
}

p {
    margin: 0px;
    font-weight: 400;
}


.main-container {
    width: 90%;
    margin: 30px auto 5px auto;
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-container h2 {
    margin: 5px 0px;
}

.todays-weather-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 0px;
}

.city-temperature {
    font-size: 50px;
    padding: 0px;
    margin: 15px 0px 5px 0px;
}

.todays-weather-type {
    font-size: 20px;
}

.sunrise-sunset-parent {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
}

.sunrise-sunset-parent p {
    padding: 20px;
    font-size: 18px;
}

.sunrise-sunset-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fiveday-forecast-container {
    display: flex;
    flex-direction: column;
}

.forecast-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
    height: 40px;
}

.forecast-day {
    font-size: 18px;
    margin-right: 40px;
    width: 90px;
}

.forecast-icon {
    width: 35px;
}

.forecast-temp {
    font-size: 18px;
    margin-left: 70px;
}

.forecast-type {
    display: none;
}


