* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif; 
    margin: 0;  
}

h2 {
    font-size: 25px;
    font-weight: 400;
    margin: 0px;
}

h3 {
    font-weight: 400;
}

p {
    margin: 0px;
    font-weight: 400;
    font-size: 20px;
}

/* Main container that contains all the weather information */
.main-container {
    border-radius: 2px;
    background: rgba(253, 238, 200, 0.6);
}

/* City header */
.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-container h2 {
    margin: 5px 0px;
    padding-top: 10px;
}

/* Today's weather for specified city */
.todays-weather-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 0px;
    margin-top: 10px;
    background:rgb(255, 255, 255, 0.9);
}

.todays-date {
    margin-bottom: 15px;
}

.city-temperature {
    font-size: 50px;
    padding: 0px;
    margin: 15px 0px 5px 0px;
}

.todays-weather-type {
    font-size: 20px;
}

/* Sunrise/Sunset container for specified city */
.sunrise-sunset-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px 0px 0px;
}

.sunrise-sunset-container p {
    padding: 10px 20px 0px;
}

.sunrise-sunset {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* 5 Day forecast for specified city */
.fiveday-forecast-container {
    display: flex;
    flex-direction: column;
    padding: 20px 0px 0px;
}

.forecast-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background:rgb(255, 255, 255, 0.9);
    padding: 10px;
}

.forecast-container:last-child {
    margin-bottom: 0;
}

.forecast-day {
    width: 100px;
} 

.forecast-icon {
    width: 35px;
}

.forecast-type {
    display: none;
} 

/* Footer */
footer {
    padding: 15px;
    text-align: center;
}

footer p {
    font-size: 13px;
}


@media (max-width: 820px) and (min-width: 736px) {
    body {
        background-image: url(images/background-pattern-yellow.png); 
        background-size: 400px;    
    }

    .main-container {
    margin: 20px auto;
    width: 80%;
    border-radius: 10px;
    }
}


@media (min-width: 821px) {
    body {
        background-image: url(images/background-pattern-yellow.png); 
        background-size: 400px;    
    }
    .main-container {
        margin: 20px auto;
        width: 95%;
        border-radius: 10px;
    }

    .todays-weather-container {
        margin: auto;
        width: 400px;
        border-radius: 10px;
    }

    .fiveday-forecast-container {
        display: flex; 
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        padding: 10px;
        height: 200px;
    }

    .forecast-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
        margin-bottom: 0px;
        width: 200px;
        border-radius: 10px;
    }

    .forecast-day {
        margin-bottom: 20px;
        margin-right: 0px;
        width: auto;
    }

    .forecast-type {
        display: block;
        font-size: 15px;
    } 

    .forecast-temp {
        margin-left: 0px;
        margin-top: 20px;
    }

    .forecast-icon {
       margin-bottom: 10px;
    }
} 


@media (min-width: 1024px) {

    .main-container {
        width: 80%;
        margin: 20px auto;
    }
}


@media (min-width: 1300px) {

    .main-container {
        width: 60%;
        margin: 20px auto;
    }
}
