body {
    margin: 0;
    padding: 0;
}
.todays-weather {
    height: 400px;
    /*background-color: #6bbddd;*/
    background: linear-gradient(#5ac4ee, #78d1fd, #b6e4f8);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 10px;
}

.forecast-container {
    padding: 40px 10px 0 10px;
    margin-bottom: 20px;
    /*line-height: 10px;
    height: 400px;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
}

.heading-temperature {
    font-size: 70px;
}

.five-day-forecast {
    border-bottom: 1px dotted rgb(187, 184, 184);
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

@media (min-width: 768px) {
    .todays-weather {
        align-items: center;
    }

    .forecast-container {
        align-items: center;
    }

}

@media (min-width: 1025px) {
    .todays-weather {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        border: none;
        border-radius: 20px;
    }

    .forecast-container {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        border: none;
        align-items: space-around;
    }
}