@import url(/Code/CSS/style.css);

body{
  color: white;
}

.current-weather-background {
  background: linear-gradient(45deg, 
  #720AB6,
  #2822C0,
  #093CA4,
  #065BB2,
  #069ACC
  );
  background-size: 400%;
  animation: background-animation 5s infinite alternate;
  height: 100vh;
}

@keyframes background-animation {
  0% {background-position: left;}
  100% {background-position: right;}
}
