@import url(/Code/CSS/style.css);

body{
  color: white;
}

#weatherBackground {
  background: linear-gradient(45deg, 
  #720AB6,
  #2822C0,
  #093CA4,
  #065BB2,
  #069ACC
  );
  background-size: 400%;
  animation: background-animation 5s infinite alternate;
  height: 100%;
}

@keyframes background-animation {
  0% {background-position: left;}
  100% {background-position: right;}
}

.menu-nav{
  background: rgba(214, 93, 177, 0.8);
}

.menu-branding {
  background: rgba(214, 93, 177, 0.5);
}
