@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  height: 100vh;
  line-height: 1.5;
  color: white;
  text-shadow: rgba(0, 0, 0, 0.479) 1px 0 5px;
}

/* ---- BURGER NAVIGATION ---- */

.menu-btn{
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.btn-line{
  margin: 1em;
  width: 40px;
}

.btn-line::after,
.btn-line::before,
.btn-line div {
  background-color: white;
  content: "";
  display: block;
  border-radius: 3px;
  height: 5px;
  margin: 7px 0;
  transition: all 0.5s ease-out;
}

/* Rotation animation */
.close .btn-line div {
  transform: scale(0);
}

.close .btn-line::before {
  transform: translateY(12px) rotate(135deg);
}

.close .btn-line::after {
  transform: translateY(-12px) rotate(-135deg);
}

/* ---- HEADER ---- */

h1 {
  font-size: 6rem;
  font-weight: 300;
  margin: 20vh 0 1rem 0;
  line-height: 1;
  padding: 0;
}

h2{
  font-size: 2rem;
  font-weight: 300;
  line-height: 1;
  padding: 0;
  margin-bottom: 0.5rem;
}

h3 {
  font-size: 1rem;
  font-weight: 300;
}

a {
  color: white;
  text-decoration: none;
}

i{
  text-shadow: none;
  margin: 0 5px;
}

header{
  position: fixed;
  z-index: 2;
  width: 100%;
}

main {
  padding: 4rem;
  min-height: 100vh;
}

#home {
  overflow: hidden;
}


/* ---- BACKGROUND ----- */

#background{
  background: url(/Code/Images/background.jpg);
  background-attachment: fixed;
  background-size: cover;
}

#background::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: radial-gradient(circle, rgba(255,255,255,0) 0%, rgba(214,93,177,0.5508578431372548) 100%);
}

/* ---- MENU OVERLAY ---- */

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  visibility: hidden;
}

.show {
  visibility: visible;
}

.menu-branding, .menu-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  float: left;
  width: 50%;
  height: 100vh;
  overflow: hidden;
}

/* LEFT MENU */
/* Slide in from top */
.menu-nav{
  padding: 0;
  background: rgba(6, 91, 178, 0.8);
  list-style: none;
  transform: translate3d(0, -100%, 0);
  transition: all 0.5s ease-out;
}

.menu .show{
  transform: translate3d(0, 0, 0);
}

/* RIGHT MENU */
/* Slide in from bottom */
.menu-branding {
  background: rgba(6, 91, 178, 0.5);
  transform: translate3d(0, 100%, 0);
  transition: all 0.5s ease-out;
}

.menu-branding .show{
  transform: translate3d(0, 0, 0);
}


/* ----- NAV ITEMS ----- */

.nav-link {
  display: inline-block;
  position: relative;
  font-size: 2rem;
  padding: 0.5rem 0;
  font-weight: 300;
  color: white;
  text-decoration: none;
  transition: all 0.5s ease-out;
}

.nav-link:hover{
  text-shadow: black 2px 0 5px;
}

.current > a {
  color: #f9f871;
}

/* ---- CURRENT WEATHER ----- */

#weatherBackground {
  background: linear-gradient(45deg, 
  #d65db1,
  #ff6f91,
  #ff9671,
  #ffc75f,
  #f9f871
  );
  background-size: 400%;
  animation: background-animation 5s infinite alternate;
  height: 100%;
}

@keyframes background-animation {
  0% {background-position: left;}
  100% {background-position: right;}
}

.sun{
  margin: 1rem 0;
}

.forecast-weather{
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}




/* ------ BIG CITIES ----- */
.city{
  margin: 2rem 0;
}


/* ----- MEDIA QUERY ----- */

@media screen and (max-width: 500px){
  h1, h2 {
    margin-top: 10vh;
  }
}

@media screen and (max-width: 768px){
  main {
    align-items: center;
    font-size: 0.85rem;
  }

  h1, h2 {
    line-height: 1;
    margin-bottom: 1rem;
    font-size: 2rem;
  }

  ul.menu-nav, div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;
  }

  ul.menu-nav.show, div.menu-branding.show {
    transform: translate3d(0,0,0);
  }

  .menu-nav {
    height: 50vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 2rem;
  }

  .menu-branding {
    height: 50vh;
    transform: translate3d(100%, 0, 0);
  }
}