* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: white;
  display: flex;
  flex-direction: column;
  background: linear-gradient(#8589ff, #e8e9ff);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: block;
}

.weather-form {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 90px;
  margin-top: 40px;
}

.weather-form input {
  display: none;
  width: 70%;
  height: 4em;
  padding: 10px;
  font-size: 2rem;
  font-weight: 400;
  border: 0;
  outline: 0;
  background-color: white;
  color: black;
  border-radius: 50px;
  margin: 0 auto;
}

.weather-form button {
  border: 0;
  outline: 0;
  background: white;
  border-radius: 50%;
  width: 180px;
  height: 180px;
  cursor: pointer;
  margin-right: 40px;
}

.weather-form button img {
  width: 40%;
}

.current-temp {
  font-size: 200px;
  font-weight: 300;
  color: white;
  display: inline-block; /* Add this line */
  vertical-align: top; /* Add this line */
}

.celsius {
  font-size: 80px;
  vertical-align: top;
  margin-top: 0;
  color: white;
  display: inline;
  margin-top: 50px;
}

.current-icon {
  width: 350px;
  margin-top: 30px;
  display: flex;
  position: absolute;
  top: 30px;
  right: 30px;
}

/* I don't know how to make a curve that is not covering my night mode */
/* .curve { 
  overflow: hidden;
  position: relative;
  z-index: 1; 
  background-color: white;
}

.curve::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#8589ff, #e8e9ff);
  border-bottom-right-radius: 20% 20%;
  border-bottom-left-radius: 20% 20%;
  z-index: -1; 
} */

.card {
  margin-top: 200px;
  margin-left: 100px;
  margin-right: auto;
  width: 100%;
  max-width: 800px;
  color: white;
}

.current-city {
  font-size: 100px;
  color: white;
  font-weight: 300;
}

.current-sky {
  font-size: 70px;
  margin-bottom: 30px;
  font-weight: 200;
  color: white;
}

.weather-detail {
  font-size: 60px;
  font-weight: 200;
  color: white;
  display: flex;
  justify-content: space-between;
}

.sun-times {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.week-days-container {
  background-color: white;
  padding: 20px;
  width: 100%;
}

.week-days {
  background-color: white;
  color: #707070;
  font-size: 60px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-weight: 300;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 45px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.day-container {
  display: flex;
  flex-direction: column;
  padding: 5rem;
  gap: 3rem;
  background-color: whitesmoke;
}

.day-container > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.weather-emoji {
  width: 120px;
  margin-right: 50px;
}

.day {
  margin-right: 190px;
}

.error {
  color: red;
  font-size: 40px;
}

/* Media query for desktop screens */
@media (min-width: 1025px) {
  .card {
    margin-top: 120px;
    margin-left: 400px;
    margin-right: auto;
  }

  .weather-form {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .weather-form button {
    width: 90px;
    height: 90px;
  }

  .current-temp {
    font-size: 160px;
    font-weight: 300;
  }

  .celsius {
    font-size: 50px;
  }

  .current-city {
    font-size: 60px;
    font-size: 200;
  }

  .current-icon {
    width: 190px;
    margin-top: 40px;
    /* top: 150px; */
    margin-right: 390px;
    margin-top: 10px;
  }

  .current-sky {
    font-size: 40px;
    margin-bottom: 10px;
  }

  .weather-detail {
    font-size: 40px;
    justify-content: space-between;
  }

  .day-container {
    padding: 2rem;
  }

  .weather-emoji {
    width: 100px;
    margin-right: 20px;
  }

  .week-days {
    font-size: 30px;
  }

  .weather-emoji {
    margin-left: 150px;
  }

  .weather-form input {
    width: 50%;
    height: 2em;
    margin-right: 50px;
    display: inline-block;
  }

  .weather-form button {
    margin-right: 200px;
  }

  .day-container {
    padding: 1rem;
  }
}
/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width: 961px) {
  .week-days-container {
    width: 100%;
  }

  .week-days {
    max-width: 900px;
    width: 100%;
  }
}
