html, body {
    height: 100%;
}
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.Container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 700px;
}

.weather-deck {
    margin: 20px;
    width: 350px;
    height: 600px;
    justify-content: center;
    border-radius: 5%;
  
}

.cold {
    background-image: linear-gradient(to bottom right, rgba(19, 42, 92, 0.63), rgba(90, 193, 221, 0.562));

}

.warm {
    background-image: linear-gradient(to bottom right, rgba(235, 135, 68, 0.63), rgba(255, 255, 164, 0.562));
}


.app-titel {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    letter-spacing: 1px;
    font-size: 15px;
}


.city {
    padding-top: 20px;
    font-size: 20px;
    text-align: left;
    padding-left: 20px;
    letter-spacing: 1px;
}

.temp_dec {
    padding-top: 20px;
    font-size: 15px;
    text-align: left;
    padding-left: 20px;
    letter-spacing: 1px;
}

.sunrise {
    font-size: 12px;
    text-align: left;
    padding-left: 20px;
    letter-spacing: 1px;
    padding-bottom: 2px;
}

.sunset {
    font-size: 12px;
    text-align: left;
    padding-left: 20px;
    letter-spacing: 1px;
}

.text_cold {
    padding-top: 20px;
    padding-left: 20px;
    font-size: 25px;
    color: rgb(40, 75, 116);
}

.text_warm {
    padding-top: 20px;
    padding-left: 20px;
    font-size: 25px;
    color: rgb(243, 185, 24);
}

/* .text_warm {
    padding-top: 20px;
    padding-left: 20px;
    font-size: 25px;
    color: rgb(218, 158, 47);
} */

.weekdayForecast {
    padding-right: 20px;
    font-size: 15px;
    text-align: center;
    letter-spacing: 1px;
}

