html, body {
    height: 100%;
}
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.Container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 700px;
}

.weather-deck {
    margin: 20px;
    width: 350px;
    height: 600px;
    justify-content: center;
    background-color: aquamarine;
    border-radius: 5%;
  
}

.app-titel {
    padding-top: 20px;
    padding-bottom: 40px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.temp {
    font-size: 20px;
    text-align: center;
    letter-spacing: 2px;
}


.city {
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
    letter-spacing: 2px;
}


.dec {
    font-size: 20px;
    text-align: center;
    letter-spacing: 2px;
}

.sunrise {
    font-size: 20px;
    text-align: center;
    letter-spacing: 2px;
}

.sunset {
    font-size: 20px;
    text-align: center;
    letter-spacing: 2px;
}

.weekdayForecast {
    padding-top: 50px;
    padding-right: 10px;
    font-size: 15px;
    text-align: right;
    letter-spacing: 2px;
}

