body {
    font-family: 'Lora', serif;
    margin: 0;
    height: 100vh;
}

/*.background-video {
    position: relative;
    height: 50vh;
}*/

.overflow-handler {
    overflow: hidden;
    width: 100vw;
}

.todays-weather {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center; 
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    
    
}

.todays-weather::after {
    content: '';
    position: absolute;
    background: radial-gradient(#00A0B0 10%, #7fc844 100%);
    border-radius: 100%;
    right: -200px;
    left: -200px;
    top: -200px;
    bottom: 0;
    z-index: -1;
}

.day {
    background: linear-gradient(#653D7C 60%, #00A0B0 100%);
}

.todays-weather h4 {
    font-size: 18px;
    margin-top: 10px;
}

.city-name {
    font-size: 36px;
    margin-bottom: 0px;
} 


.temperature {
    font-size: 72px;
    margin-top: 0px;
    margin-bottom: 20px;
}

.sun-hours {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sun-hours img {
    width: 72px;;
}

.sunrise {
    display: flex;
    flex-direction: column;
}

.sunset {
  display: flex;
  flex-direction: column;
}

.forecast-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 18px;
}

.forecast div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.forecast-weekday {
   margin: 18px;
   align-self: flex-end; 
   width: 25%;
   text-align: left;
  padding-left: 20px;
}

.forecast-temp {
  width: 25%;
  margin: 18px;
}

.forecast div img {
    width: 48px;
    height: 48px;
}