/*to make the page go all the way to the sides*/
body {
    margin: 0;
    padding: 0;
}

/*containes all the html*/
.grid-container{
    display: grid;
    grid-template-columns:repeat(4, 1fr) ;
    grid-template-rows: auto;
}

/*the "header"*/
.backimg{
    grid-column: 1/5;
    grid-row: 1/3;
    width: 100%;
    height: 700px;
    border-top-left-radius: 0; /* Mindre radie för att skapa en rundad övre del */
    border-top-right-radius: 0; /* Mindre radie för att skapa en rundad övre del */
    border-bottom-left-radius: 60% 60px; /* Större radie för att böja nedre delen */
    border-bottom-right-radius: 60% 60px; /* Större radie för att böja nedre delen */
    box-shadow: 0 8px 6px -6px #707070;
}
/*weather img for today*/
#weather img {
    width:400px;
    padding:0;
    position: absolute;
    top: -3%;
    left: 40%;
    opacity: 0.8;
}

/*weather is the js container for the "header"*/
#weather{
    grid-row: 1/4;
    grid-column: 1/5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 30px;
   color: rgb(255, 255, 255);  
   z-index: 5;
   
}

/*temp*/
#weather h1{
font-size: 150px;
font-family: "Roboto", sans-serif;
font-weight: 300;
margin: 0;
}

/*city and description*/
#weather p{
font-size: 30px;
font-family: "Roboto", sans-serif;
font-weight: 200;
margin: 0;
}

/*when the r*/
#sunrise-sunset{
    grid-row: 2;
    grid-column: 1/5;
    display: flex;
    font-size: 27px;
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    color: rgb(255, 255, 255);
    justify-content: space-evenly;
    align-content: flex-end;
    flex-wrap: wrap;
    padding-bottom: 20px;
    z-index: 5;
}

/* menu bar */
.menu {
  position: fixed;
  top: 0%;
  left: 0;
    z-index: 25;
    width: 100vw;
}

#hamburger{
display: flex;
flex-direction: column;
width: 40px;
height: 30px;
margin: 20px;
justify-content: space-between;
cursor: pointer;

}

.line{
  background-color: #ffff;
  width: 100%;
  height: 3px;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0,3);
}

#dropdown{
  display: none;
  position: absolute;
  top: 70px;
  left: 0;
  width: 120px;
  background-color: #ffffff;
  height: 10vh;
  border-radius: 4px;
  z-index: 1;
}

#dropdown.open{
  background-color: #000;
  display: block;
  z-index: 5;
}

#dropdown li{
  list-style: none;
  padding: 10px;
  text-transform: uppercase;
  /*opacity: 0;*/
  transform: all 0.2s;
}

#dropdown li:hover{
  width: 100%;
}

#dropdown a{
  color: rgb(97, 93, 155);
  text-decoration: none;
  background:
  linear-gradient(
    to right,
    rgb(163, 161, 210),
    rgb(163, 161, 210)
  ),
  linear-gradient(
    to right,
    rgb(71, 51, 122),
    rgb(144, 121, 181),
    rgb(220, 196, 245)
);
background-size: 100% 3px, 0 3px;
background-position: 100% 100%, 0 100%;
background-repeat: no-repeat;
transition: background-size 400ms;

}

#dropdown a:hover{
  background-size: 0 3px, 100% 3px;
  color: rgb(60, 57, 110);
}

/*innerHTML JS info for 5 days ahead*/
.forecast-item{
display: flex;
justify-content: space-evenly;
align-items: center;
padding-top: 15px;
transition: box-shadow 0.3s ease;
}

/*to make a hover effekt*/
.forecast-item:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Lägg till en boxskugga när du hovrar över elementet */
}

/*div class html*/
#forecast{
    grid-row: 4/6;
    grid-column: 1/5;
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    color: #000;
    padding-top: 20px;
}

/*the week days*/
#forecast h1{
    font-size: 40px;
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    width: 10%;
    padding-left: 10%;
}

/*the description and temp*/
#forecast p{
    font-size: 30px;
    width: 20%;
}
  
/* weather img for the up comming days*/
#forecast img {
   width: 70px;
   padding-left: 20%;
   padding-right: 10%;
}


/*smaler screen*/
@media screen and (min-width: 320px) and (max-width: 666px) {
  #weather img {
    top: 2%;
    left: 6%;
    width: 300px;
  }  
  .backimg{
    grid-column: 1/5;
    grid-row: 1/2;
    width: auto;
    height: 400px;
  }
  #weather{
    padding: 0%;
    align-items: center;
  }
  #weather h1{
    font-size: 60px;
  }
  #weather p{
    font-size: 20px;
  }
  #sunrise-sunset{
    grid-row: 1;
    font-size: 15px;
    padding-bottom: 50px;
  }
  .bar1, .bar2, .bar3{
    margin: 5px;
    width: 20px;
    height: 2px;
  }

  #forecast img{
    padding-left: 10%;
  }
  #forecast{
    padding-top: 2px;
  }
  #forecast h1{
    font-size: 15px;
  }
  #forecast p{
    font-size: 10px;
  }
}

/*bigger screen*/
@media screen and (min-width: 820px) {
    #weather img {
        top: 2%;
        left: 30%;
        width: 500px;
      }    
}