* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: white;
  display: flex;
  flex-direction: column;
  background: linear-gradient(#8589ff, #e8e9ff);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.weather-form {
  display: flex;
  width: 100%;
  align-content: center;
  justify-content: space-between;
}

.weather-form input {
  display: none;
  width: 70%;
  height: 4em;
  padding: 10px;
  font-size: 2rem;
  font-weight: 400;
  border: 0;
  outline: 0;
  background-color: white;
  color: black;
  border-radius: 50px;
  margin: 0 auto;
}

.weather-form button {
  border: 0;
  outline: 0;
  background: white;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  cursor: pointer;
}

.weather-form button img {
  width: 40%;
}

.current-temp {
  font-size: 280px;
  font-weight: 300;
  color: white;
}

.current-city {
  font-size: 180px;
  color: white;
  font-weight: 300;
  display: block;
}

.current-sky {
  font-size: 80px;
  margin-bottom: 30px;
  font-weight: 200;
  color: white;
}

.weather-detail {
  font-size: 60px;
  font-weight: 200;
  color: white;
}

.week-days {
  background-color: whitesmoke;
  color: #707070;
  font-size: 30px;
}
