* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Roboto;
  background-color: white;
  display: flex;
  flex-direction: column;
  background: linear-gradient(#8589ff, #e8e9ff);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.weather-form {
  margin: 5px;
}

.city-input {
  padding: 10px;
  font-size: 2rem;
}

button {
}

.current-temp {
  font-size: 300px;
  font-weight: 300;
  color: white;
}

.current-city {
  font-size: 180px;
  color: white;
  font-weight: 300;
}

.current-sky {
  font-size: 80px;
  margin-bottom: 30px;
  font-weight: 200;
  color: white;
}

.weather-detail {
  font-size: 60px;
  font-weight: 200;
  color: white;
}

.week-days {
  background-color: whitesmoke;
  color: #707070;
}
