/* General class for round buttons */
.btn-round {
  display: flex;
  justify-content: center;
  background-color: var(--primary);
  width: 20vw;
  max-width: 100px;
  height: 20vw;
  max-height: 100px;
  border-radius: 100px;
  box-shadow: 5px 2px 5px var(--shadow);
}

/* Class to handle buttons that "float" */
.btn--float {
  margin: 0 0 30px 0;
  order: 1;
  align-self: flex-end;
}

/* General .btn class that makes sure all buttons are hoverable */
.btn:hover {
  cursor: pointer;
}
.btn:hover:not(.icon-arrow-left) {
  transform: scale(1.05);
}

/* EXPANDED */
.btn--float.expanded {
  position: absolute;
  bottom: 0;
}
