.header-info {
  height: 480px;
  background-image: url("../assets/bkg.svg");
  background-position: bottom;
}

.header-info__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 30px;
}

.header-title__wrapper {
  display: flex;
  flex-flow: row nowrap;
}

.header-info__icon {
  height: min(30vw, 150px);
  position: relative;
  top: 20px;
  align-self: flex-end;
}

.sun-times__wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 15px 0;
}
