.header-info {
  height: clamp(300px, 110vw, 600px);
  overflow: hidden;
  position: relative;
}

.header-info__bkg {
  position: absolute;
  z-index: -1;
  width: 200vw;
  top: -50vw;
  left: -50vw;
}
.header-info.expanded {
  height: 100%;
  background: rgb(133, 137, 255);
  background: linear-gradient(180deg, rgba(133, 137, 255, 1) 0%, rgba(232, 233, 255, 1) 100%);
}

.header-info__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 30px;
  height: 100%;
}

.header-title__wrapper {
  display: flex;
  flex-flow: row nowrap;
}

.header-info__icon {
  height: min(30vw, 150px);
  position: relative;
  top: 20px;
  align-self: flex-end;
}

.sun-times__wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 15px 0;
}

.sun-times__wrapper.expanded {
  flex-wrap: wrap;
  margin-top: 50px;
  line-height: 3;
}
.sun-times__wrapper.expanded > h3 {
  width: 50%;
}
