.icon-hamburger {
  position: absolute;
  margin-top: 30px;
}

.icon-arrow-left {
  transform: rotate(180deg);
  width: 15px;
  margin: 20px;
}

.icon-arrow-down {
  width: 20px;
  transform: rotate(90deg);
  transition: all 0.5s ease;
}

.icon-arrow-down.turn {
  transform: rotate(270deg);
}
