/* Styling for any icons used in the application */
.icon-hamburger {
  position: absolute;
  width: 7vw;
  margin-top: 30px;
}

.icon-arrow-left {
  transform: rotate(180deg);
  width: 15px;
  margin: 20px;
}

.icon-arrow-down {
  width: 7vw;
  max-width: 20px;
  transform: rotate(90deg);
  transition: all 0.5s ease;
}

.icon-arrow-down.turn {
  transform: rotate(270deg);
}

.icon-wind {
  width: 5vw;
  max-width: 40px;
  position: relative;
  top: 13px;
}
