
  
  body {
    color: var(--primary);
    font-size: 16px;
    font-family: 'Sora', sans-serif;
    background: var(--background);
    filter: var(--filter);
    box-sizing: border-box;
    transition: color 1s;
    transition: background 1.5s;
    --dark-background: #232323;
    --dark-primary: #FBF8F3;
    --dark-link: #A9FE75;
    --dark-filter: invert(100%) sepia(60%) saturate(759%) hue-rotate(293deg) brightness(108%) contrast(97%);
    --dark-box-shadow: 5px 7px 41px 9px rgba(255,255,255,0.3),6px 6px 25px -10px rgba(255,255,255,0.3);
    --light-background: #FBF8F3;
    --light-primary: #232323;
    --light-link: #FF5733;
    --light-filter: invert(10%) sepia(0%) saturate(446%) hue-rotate(138deg) brightness(98%) contrast(91%);
    --light-box-shadow: 5px 7px 41px 9px rgba(0,0,0,0.1),6px 6px 25px -10px rgba(0,0,0,0.1);
    --background: var(--light-background);
    --primary: var(--light-primary);
    --link: var(--light-link);
    --filter: var(--light-filter);
    --box-shadow: var(--light-box-shadow);
  }
  
  a {
    color: var(--link);
  }



  html * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /*background: var(--light-background);*/
    font-family: 'Sora', sans-serif;

    
}



.weather-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.city-name {
  font-weight: 800;
  font-size: 1.3rem;
  color: var(--light-primary);
  text-align: center;
  margin-top: 2.6rem;
  margin-bottom: 1.8rem;
  text-transform: capitalize;
}

.big-weather-symbol {
margin-top: 10%;
margin-bottom: 8%;       
width: 7rem;
filter: var(--light-filter);

}

.current-temp {
    margin-top: 4%;
    margin-bottom: 4%; 
    font-weight: 800;
    font-size: 2.8rem;
    color: var(--light-primary);
    text-align: center;

}

.weather-description {
    margin-top: 3%;
    margin-bottom: 7%; 
    font-weight: 800;
    font-size: 1.3rem;
    color: var(--light-primary);
    text-align: center;
    text-transform: capitalize;
}

.sun-and-time {
    display: flex;
    flex-direction: column;
    margin-top: -0.2em;
    margin-bottom: 1.2em;
    gap:0.4em;
    max-width: 3.8em;
}


.sun {
display: flex;
flex-direction: row;
justify-content: center;
gap: 100%;
}
.sunrise-symbol {
width: 40px;
filter: var(--light-filter);
}

.sunset-symbol {
width: 40px;
margin-bottom: -1%; 
filter: var(--light-filter);
}

.time {
  
    display: flex;
    justify-content: space-evenly;
    gap: 100%;
    margin-left:-1%;
    font-weight: 500;
    font-size: 0.9rem;
    color: var(--light-primary);
    text-align: center;   
}


.wind {
    margin-top: 8%;
    margin-bottom: 6%; 
display: grid;
justify-content: center;
filter: var(--light-filter);
}

.wind-symbol {
    width: 40px;

    }


    .wind-speed {

    margin-top: -0.2rem;    
    font-weight: 500;
    font-size: 0.9rem;
    color: var(--light-primary);
    text-align: center;

    
    }


    .forecast {
        margin-top: 1%;
    margin-bottom: 3%; 
        display: flex;
        justify-content: space-evenly;
        gap: 6.8rem;
        
    } 


.weekdays {
  
    color: var(--light-primary);
    text-align: left;
    line-height: 1.6rem;
}

.week-temp {
    align-items: right;
    font-weight: 500;
    font-size: 0.9rem;
    color: var(--light-primary);
    text-align: right;
    line-height: 1.6rem;
}

.time {
    display: flex;
}





h6 {
    font-weight: 500;
    font-size: 0.9rem;
    line-height: 2rem;
  }







/* BIGGER MOBILE        BIGGER MOBILE        BIGGER MOBILE */
 

@media (min-width: 380px) {


   


    .city-name {
        font-weight: 800;
        font-size: 1.5rem;
        color: var(--light-primary);
        text-align: center;
        margin-top: 3.4rem;
        margin-bottom: 1.8rem;
        text-transform: capitalize;
      }
      
      .big-weather-symbol {
      margin-top: 10%;
      margin-bottom: 8%;       
      width: 9rem;
      filter: var(--light-filter);
      
      }
      
      .current-temp {
          margin-top: 4%;
          margin-bottom: 4%; 
          font-weight: 800;
          font-size: 3.2rem;
          color: var(--light-primary);
          text-align: center;
      
      }
      
      .weather-description {
          margin-top: 3%;
          margin-bottom: 7%; 
          font-weight: 800;
          font-size: 1.5rem;
          color: var(--light-primary);
          text-align: center;
          text-transform: capitalize;
      }
      
      .sun-and-time {
          display: flex;
          flex-direction: column;
          margin-top: 0.4em;
          margin-bottom: 1.2em;
          gap:0.4em;
          column-gap: 1em;
      }
      
      
      .sun {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 100%;
      }
      .sunrise-symbol {
      width: 60px;
      margin-bottom: 2%;
      filter: var(--light-filter);
      }
      
      .sunset-symbol {
      width: 60px;
      margin-bottom: 3%; 
      filter: var(--light-filter);
      }
      
      .time {
        
          display: flex;
          justify-content: space-evenly;
          gap: 106%;
          margin-left:-2%;
          font-weight: 500;
          font-size: 0.9rem;
          color: var(--light-primary);
          text-align: center;   
      }
      
      
      .wind {
          margin-top: 12%;
          margin-bottom: 6%; 
      display: grid;
      justify-content: center;
      filter: var(--light-filter);
      }
      
      .wind-symbol {
          width: 60px;
      
          }
      
      
          .wind-speed {
      
          margin-top: -0.2rem;    
          font-weight: 500;
          font-size: 0.9rem;
          color: var(--light-primary);
          text-align: center;
      
          
          }
      
      
          .forecast {
              margin-top: 4%;
          margin-bottom: 5%; 
              display: flex;
              justify-content: space-evenly;
              column-gap: 12rem;
             
              
              
          } 

        
      
      
      .weekdays {
        
          color: var(--light-primary);
          text-align: left;
          line-height: 2rem;
      }
      
      .week-temp {
          align-items: right;
          font-weight: 500;
          font-size: 0.9rem;
          color: var(--light-primary);
          text-align: right;
          line-height: 2rem;
      }
      
      
      
      
      
      .time {
          display: flex;
      }



}


@media (min-width: 540px) {


.weather-app { 
 max-width: 540px;
 min-height: 902px;
 height: 902px;
 border-radius: 10px;


      }

weather-app-container {
 display: flex;
 justify-content: center;
 align-items: center;
}
      
      
      

html,
body {
  height: 100vh;
}

.weather-app {
    transform: scale(0.84);
    align-self: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: calc(var(--vh, 1vh) * 100);
    justify-content: space-between;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
    border-radius: 1rem;
    box-shadow: var(--light-box-shadow);
}

h6 {
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 2rem;
  }


}





