/* weather-animations.css */
.rain-container {
    position: relative;
    width: 100%;
    height: 100%; /* Ensure this element has a visible height */
    overflow: hidden;
    background-color: #bde8fa; /* Set an appropriate background color */
}

.raindrop {
    position: absolute;
    width: 2px;
    height: 15px; /* Increase the height to make raindrops more visible */
    background: linear-gradient(to bottom, transparent 75%, #0073e6 75%); /* Adjust the color */
    animation: raindrop-fall 0.5s linear infinite;
}

@keyframes raindrop-fall {
    0% {
        transform: translateY(-15px); /* Adjust the initial position */
        opacity: 0;
    }
    100% {
        transform: translateY(100vh);
        opacity: 1;
    }
}
