body {
  background: lightblue;
  width: 100%;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}

#weatherFiveDays {
  width: 100%;
  padding-top: 50px;
}

.timeContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;

}



p, h1 {
  width: 100%;
  display: flex;
  justify-content: center;
}

.weatherTop {
 
 
}

.sunTimes {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  
}
  


#temperature {
  font-size: 80px;
  margin-bottom: 50px;
  

}

