body {
  background: lightblue;
}

#weatherFiveDays {
  
}

.timeContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;

}

#weatherNow {
 
}

  


#temperature {
  font-size: 60px;


}

